{% extends 'base.html.twig' %}

{% block title %}Nouvelle facture{% endblock %}

{% block main_class %}container-fluid p-0{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/invoice.css') }}">
{% endblock %}

{% block body %}
<section class="invoice-form-section">

    <div class="invoice-form-wrapper">

        <h1>Créer une facture</h1>

        <div class="invoice-form-box">
            {{ include('invoice/_form.html.twig', {
                form: form,
                button_label: 'Créer'
            }) }}
        </div>

        <div class="invoice-form-actions d-flex justify-content-start">
            {{ include('components/buttons/_back.html.twig', {
                route: 'app_invoice_index'
            }) }}
        </div>

    </div>

</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/invoice.js') }}"></script>
{% endblock %}