{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block main_class %}container-fluid px-0 py-0{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/login.css') }}">
{% endblock %}

{% block body %}
<section class="login-section">

    <div class="login-wrapper">

        <div class="login-title text-center">
            <i class="fa-solid fa-lock"></i>
            <h1>Connexion</h1>
            <p>Accédez à votre espace MiniFacturier</p>
        </div>

        <form method="post" class="login-form">

            {% if error %}
                <div class="alert alert-danger">
                    Identifiants invalides.
                </div>
            {% endif %}

            {% if app.user %}
                <div class="alert alert-info">
                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}.
                    <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            {% endif %}

            <div class="login-field">
                <label for="username">Adresse mail</label>
                <div class="login-input-group">
                    <i class="fa-solid fa-envelope"></i>
                    <input
                        type="email"
                        value="{{ last_username }}"
                        name="_username"
                        id="username"
                        autocomplete="email"
                        required
                        autofocus
                    >
                </div>
            </div>

            <div class="login-field">
                <label for="password">Mot de passe</label>
                <div class="login-input-group">
                    <i class="fa-solid fa-lock"></i>

                    <input
                        type="password"
                        name="_password"
                        id="password"
                        autocomplete="current-password"
                        required
                    >

                    <i class="fa-solid fa-eye toggle-password" id="togglePassword"></i>
                </div>
            </div>

            <input
                type="hidden"
                name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <button class="login-button" type="submit">
                <i class="fa-solid fa-right-to-bracket me-2"></i>
                Se connecter
            </button>

        </form>

    </div>

</section>
{% endblock %}