{% extends 'base.html.twig' %}

{% block title %}shopmanager{% endblock %}

{% block main_class %}container-fluid p-0{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
{% endblock %}

{% block body %}
<section class="home-section">

    <div class="home-wrapper">

        <div class="text-center mb-4">
            <h1 class="fw-bold mb-1">Shop Manager</h1>
            <p class="text-muted small mb-0">Gestion de Vendeur, clients,factures et catalogue</p>
        </div>

        <div class="row g-4 justify-content-center">

            <div class="col-sm-6 col-lg-3">
                <div class="home-box">
                    <i class="fa-solid fa-user-group text-primary mb-2"></i>
                    <h3>Clients</h3>
                    <p>Gérez vos clients</p>

                    {{ include('components/buttons/_view.html.twig', {
                        route: 'app_customer_index',
                        color: 'btn-primary'
                    }) }}
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="home-box">
                    <i class="fa-solid fa-user-tie text-success mb-2"></i>
                    <h3>Vendeurs</h3>
                    <p>Gérez vos vendeurs</p>

                    {{ include('components/buttons/_view.html.twig', {
                        route: 'app_seller_index',
                        color: 'btn-success'
                    }) }}
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="home-box">
                    <i class="fa-solid fa-file-invoice-dollar text-warning mb-2"></i>
                    <h3>Factures</h3>
                    <p>Suivi des factures</p>

                    {{ include('components/buttons/_view.html.twig', {
                        route: 'app_invoice_index',
                        color: 'btn-warning'
                    }) }}
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="home-box">
                    <i class="fa-solid fa-book text-dark mb-2"></i>
                    <h3>Catalogue</h3>
                    <p>Produits</p>

                    {{ include('components/buttons/_view.html.twig', {
                        route: 'app_catalog_index',
                        color: 'btn-secondary'
                    }) }}
                </div>
            </div>

            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SELLER') %}
                <div class="col-sm-6 col-lg-3">
                    <div class="home-box">
                        <i class="fa-solid fa-chart-pie text-info mb-2"></i>
                        <h3>Stats</h3>
                        <p>Performances</p>

                        {{ include('components/buttons/_view.html.twig', {
                            route: is_granted('ROLE_ADMIN') ? 'app_statistics_admin' : 'app_statistics_seller',
                            color: 'btn-info text-white'
                        }) }}
                    </div>
                </div>
            {% endif %}

        </div>

    </div>

</section>
{% endblock %}