{{ form_start(form) }}

<div class="row g-4">

    <div class="col-md-6">
        <div class="form-group-custom">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group-custom">
            {{ form_label(form.brand) }}
            {{ form_widget(form.brand) }}
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group-custom">
            {{ form_label(form.price) }}
            {{ form_widget(form.price) }}
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group-custom">
            {{ form_label(form.vatRate) }}
            {{ form_widget(form.vatRate) }}
        </div>
    </div>

</div>

<div class="mt-4 d-flex gap-2">
    <button class="btn btn-primary">
        {{ button_label|default('Enregistrer') }}
    </button>

    <a href="{{ path('app_catalog_index') }}" class="btn btn-outline-secondary">
        Retour
    </a>
</div>

{{ form_end(form) }}