<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">

        <a class="navbar-brand fw-semibold" href="{{ path('app_home') }}">
            MiniFacturier
        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNavbar"
            aria-controls="mainNavbar"
            aria-expanded="false"
            aria-label="Afficher le menu"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a
                        class="nav-link {% if app.request.attributes.get('_route') == 'app_home' %}active{% endif %}"
                        href="{{ path('app_home') }}"
                    >
                        <i class="fa-solid fa-house me-1"></i>
                        Accueil
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle {% if app.request.attributes.get('_route') starts with 'app_customer_' %}active{% endif %}"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                    >
                        <i class="fa-solid fa-user-group me-1"></i>
                        Clients
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{{ path('app_customer_index') }}">
                                <i class="fa-solid fa-list me-2"></i>
                                Liste des clients
                            </a>
                        </li>

                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SELLER') %}
                            <li>
                                <a class="dropdown-item" href="{{ path('app_customer_new') }}">
                                    <i class="fa-solid fa-plus me-2"></i>
                                    Ajouter un client
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle {% if app.request.attributes.get('_route') starts with 'app_invoice_' %}active{% endif %}"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                    >
                        <i class="fa-solid fa-file-invoice-dollar me-1"></i>
                        Factures
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{{ path('app_invoice_index') }}">
                                <i class="fa-solid fa-list me-2"></i>
                                Liste des factures
                            </a>
                        </li>

                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SELLER') %}
                            <li>
                                <a class="dropdown-item" href="{{ path('app_invoice_new') }}">
                                    <i class="fa-solid fa-plus me-2"></i>
                                    Ajouter une facture
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle {% if app.request.attributes.get('_route') starts with 'app_seller_' or app.request.attributes.get('_route') starts with 'app_admin_create_seller_user' %}active{% endif %}"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                    >
                        <i class="fa-solid fa-user-tie me-1"></i>
                        Vendeurs
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{{ path('app_seller_index') }}">
                                <i class="fa-solid fa-list me-2"></i>
                                Liste des vendeurs
                            </a>
                        </li>

                        {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a class="dropdown-item" href="{{ path('app_seller_new') }}">
                                    <i class="fa-solid fa-plus me-2"></i>
                                    Ajouter un vendeur
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="{{ path('app_admin_create_seller_user') }}">
                                    <i class="fa-solid fa-user-plus me-2"></i>
                                    Créer compte vendeur
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>

                <li class="nav-item">
                    <a
                        class="nav-link {% if app.request.attributes.get('_route') starts with 'app_catalog_' %}active{% endif %}"
                        href="{{ path('app_catalog_index') }}"
                    >
                        <i class="fa-solid fa-book me-1"></i>
                        Catalogue
                    </a>
                </li>

                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SELLER') %}
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle {% if app.request.attributes.get('_route') starts with 'app_statistics_' %}active{% endif %}"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                        >
                            <i class="fa-solid fa-chart-line me-1"></i>

                            {% if is_granted('ROLE_ADMIN') %}
                                Admin
                            {% elseif is_granted('ROLE_SELLER') %}
                                Mes stats
                            {% endif %}
                        </a>

                        <ul class="dropdown-menu">

                            {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_statistics_admin') }}">
                                        <i class="fa-solid fa-chart-pie me-2"></i>
                                        Tableau admin
                                    </a>
                                </li>

                            {% elseif is_granted('ROLE_SELLER') %}
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_statistics_seller') }}">
                                        <i class="fa-solid fa-chart-column me-2"></i>
                                        Mes statistiques
                                    </a>
                                </li>
                            {% endif %}

                        </ul>
                    </li>
                {% endif %}

            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">

                {% if app.user %}
                    <li class="nav-item">
                        <span class="nav-link text-light">
                            <i class="fa-solid fa-user me-1"></i>
                            {{ app.user.firstname }} {{ app.user.lastname }}
                        </span>
                    </li>

                    <li class="nav-item d-none d-lg-block">
                        <span class="nav-link text-secondary">|</span>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">
                            <i class="fa-solid fa-right-from-bracket me-1"></i>
                            Se déconnecter
                        </a>
                    </li>

                {% else %}
                    <li class="nav-item">
                        <a
                            class="nav-link {% if app.request.attributes.get('_route') == 'app_login' %}active{% endif %}"
                            href="{{ path('app_login') }}"
                        >
                            <i class="fa-solid fa-right-to-bracket me-1"></i>
                            Se connecter
                        </a>
                    </li>
                {% endif %}

            </ul>

        </div>
    </div>
</nav>