<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">

        <a class="navbar-brand" href="{{ path('app_home') }}">
            MiniFacturier
        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNavbar"
            aria-controls="mainNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a
                        class="nav-link {% if app.request.attributes.get('_route') == 'app_home' %}active{% endif %}"
                        href="{{ path('app_home') }}"
                    >
                        <i class="fa-solid fa-house"></i> Accueil
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle {% if app.request.attributes.get('_route') starts with 'app_customer_' %}active{% endif %}"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <i class="fa-solid fa-user-group"></i> Clients
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{{ path('app_customer_index') }}">
                                Liste des clients
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ path('app_customer_new') }}">
                                Ajouter un client
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle {% if app.request.attributes.get('_route') starts with 'app_invoice_' %}active{% endif %}"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <i class="fa-solid fa-file-invoice-dollar"></i> Factures
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{{ path('app_invoice_index') }}">
                                Liste des factures
                            </a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SELLER') %}
                            <li>
                                <a class="dropdown-item" href="{{ path('app_invoice_new') }}">
                                    Ajouter une facture
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle {% if app.request.attributes.get('_route') starts with 'app_seller_' %}active{% endif %}"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <i class="fa-solid fa-user-tie"></i> Vendeurs
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{{ path('app_seller_index') }}">
                                Liste des vendeurs
                            </a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a class="dropdown-item" href="{{ path('app_seller_new') }}">
                                    Ajouter un vendeur
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>

                <li class="nav-item">
                    <a
                        class="nav-link {% if app.request.attributes.get('_route') starts with 'app_catalog_' %}active{% endif %}"
                        href="{{ path('app_catalog_index') }}"
                    >
                        <i class="fa-solid fa-book"></i> Catalogue
                    </a>
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a
                            class="nav-link {% if app.request.attributes.get('_route') starts with 'app_stats_' %}active{% endif %}"
                            href="{{ path('app_stats_index') }}"
                        >
                            <i class="fa-solid fa-chart-line"></i> Statistiques
                        </a>
                    </li>
                {% endif %}

            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                {% if app.user %}
                    <li class="nav-item">
                        <span class="nav-link text-light">
                            <i class="fa-solid fa-user"></i>
                            {{ app.user.firstname }} {{ app.user.lastname }}
                        </span>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">
                            <i class="fa-solid fa-right-from-bracket"></i> Se déconnecter
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a
                            class="nav-link {% if app.request.attributes.get('_route') == 'app_login' %}active{% endif %}"
                            href="{{ path('app_login') }}"
                        >
                            <i class="fa-solid fa-right-to-bracket"></i> Se connecter
                        </a>
                    </li>
                {% endif %}

            </ul>

        </div>
    </div>
</nav>